@font-face {
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/paytoneone/v18/0nksC9P7MfYHj2oFtYm2ChTjgPvfiwq-FQc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: hsl(0, 0%, 0%);
    color: white;
}

h2 {
    font-size: 200%;
}

.right-align {
    text-align: right;
    margin-right: 20px;
}

/*header*/
header {
    background-color: rgb(54, 65, 93);
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

header img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;
    left: auto;
    right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    width: 100px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: ease-in-out 500ms;
}

header img:hover {
    opacity: 0;
    transition-delay: 5s;
    transition: ease-in-out 2s;
    cursor: progress;
}

/*main*/
section.main {
    position: relative;
    background-image: url(images/nice.webp);
    height: auto;
    margin-top: 0px;
    top: 40px;
    padding: 20px 0px;
    image-rendering: -webkit-optimize-contrast;
    background-position: top;
}

section.main h1 {
    position: relative;
    font-family: "Paytone One", Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
    top: -100px;
    letter-spacing: 5px;
    transform: translateY(125px);
}

section.main h4 {
    text-align: center;
    position: relative;
    top: -200px;
    transform: translateY(125px);
}

/*about*/
button {
    background-color: rgb(238, 200, 60);
    line-height: 2.5;
    border: 0;
    padding: 0px 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    color: white;
}

button:hover {
    background-color: rgb(250, 220, 60);
}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

section.about {
    text-align: center;
    padding: 20px 0px;
    background-color: #000;
}

section.about p {
    width: 50%;
    margin: 0px auto;
    margin-bottom: 10px;
}

/*dreams*/
section.dreams {
    text-align: center;
    padding: 20px 0px;
    background-color: rgb(13, 13, 13);
}

div.dreambox {
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
}

div.dreambox figure {
    width: auto;
    margin: auto;
    transition: ease-in;
}

div.dreambox figure img {
    border-radius: 100%;
    width: 300px;
    height: 200px;
}

/*footer*/
footer {
    background-color: rgb(19, 6, 17);
    padding: 10px 0;
    margin-top: 10px;
}

footer ul {
    position:relative;
    list-style: none;
    margin-left: 20px;
    display: inline-block;
    margin-right: auto;
}

#copyright {
    display: inline-block;
    text-align: right;
    width: 100%;
    transform: translateY(-50px);
}